/* Group 3 WDM */
/* •Akshay Daundkar- 1002149721
•Arun Sabarish Krishnaswamy Ganesan- 1002234442
•Pallavi Chowdary Gogineni-102221774
•Kevin Gomez- 1000873983
•Sanket Rajendrakumar More-1001952737 */

/* Floating Chat Button */
.floating-chat-btn {
  position: fixed;
  z-index: 999;
  bottom: 80px;
  right: 20px;
  background-color: #f57c00;
  color: white;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.floating-chat-btn:hover {
  background-color: #ff9800;
}

/* Chat Modal */
.chat-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-modal {
  margin-top: 50px;
  background: white;
  width: 400px;
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: relative;
}

/* Close Button */
.close-btn {
  top: 20px;
  right: 0;
  margin-right: 20px;
  position: absolute;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}
