/* Group 3 WDM */
/* •Akshay Daundkar- 1002149721
•Arun Sabarish Krishnaswamy Ganesan- 1002234442
•Pallavi Chowdary Gogineni-102221774
•Kevin Gomez- 1000873983
•Sanket Rajendrakumar More-1001952737 */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
